.container{"ng-controller" => "SchoolController"}
  = link_to "Log", "", "ng-click" => "addAlert()"
  - if user_signed_in?
    = link_to "New Course", new_course_path

    %h3 My Courses
    %h6
      //Order by:
      //= link_to "Created At", "", "ng-click" => "setOrder('-created_at')","ng-model" => "order"
      // \/
      //= link_to "Title", "", "ng-click" => "setOrder('title')", "ng-model" => "order"
    .panel.panel-default{"ng-repeat" => "course in courses", "ng-click" => "select(course)"}
      .panel-heading{"ng-hide" => "editing && selected === course"}
        {{course.title}}
        = link_to "", "ng-click" => "selected = course; editing = true; $event.stopPropagation();", "ng-show" => "canEdit(course)" do
          %span.glyphicon.glyphicon-pencil
        = link_to "", "ng-click" => "delete(course); $event.stopPropagation();", "ng-show" => "canEdit(course)" do
          %span.glyphicon.glyphicon-trash
      %form{ "ng-submit" => "update(course); $event.stopPropagation();", "ng-show" => "editing  && course === selected", :style => "position: relative; display: inline"}
        %input{:required => true, "ng-model" => "course.title", :class => "form-control input-sm", :style => "width: 400px; position: relative; display: inline" }
        %input{:type => "submit", :value => "Update", :class => "btn btn-primary btn-xs"}
      //
      .panel-body{"ng-show" => "selected === course"}
        {{course.description}}
      .panel-footer
        Number of Students:
        %span.badge
          {{course.students_number}}


    %h3 Courses I am subscribed to
    %h6
      //Order by:
      //= link_to "Created At", "", "ng-click" => "assisted_order = '-created_at'","ng-model" => "assisted_order"
      //\/
      //= link_to "Title", "", "ng-click" => "assisted_order = 'title'", "ng-model" => "assisted_order"
    .panel.panel-default{"ng-repeat" => "course in assisted_courses", "ng-click" => "select(course)"}
      .panel-heading{"ng-hide" => "editing && selected === course"}
        {{course.title}}
        = link_to "Edit name", "", "ng-click" => "selected = course; editing = true; $event.stopPropagation();", "ng-show" => "canEdit(course)"
      %form{ "ng-submit" => "update(course); $event.stopPropagation();", "ng-show" => "editing  && course === selected", :style => "position: relative; display: inline"}
        %input{:required => true, "ng-model" => "course.title", :class => "form-control input-sm", :style => "width: 400px; position: relative; display: inline" }
        %input{:type => "submit", :value => "Update", :class => "btn btn-primary btn-xs"}

      .panel-body{"ng-show" => "selected === course"}
        {{course.description}}
        {{course.students_number}}
  %strong
    /{{orden}}
