.container
  %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "login-form form-horizontal"}) do |f|
    %fieldset
      = f.label :email, :class => "control-label"
      = f.email_field :email, :class => "form-control", autofocus: true
      = f.label :password, :class => "control-label"
      = f.password_field :password, :class => "form-control", autocomplete: "off"
    /- if devise_mapping.rememberable?
    /  .form-group
    /    = f.label :remember_me
    /    = f.check_box :remember_me, :class => "checkbox"
    /
    .actions
      = f.submit "Log in", :class => "btn btn-default"
  = render "devise/shared/links"
