!!!
%html{"ng-app" => "eduapp"}
  %head
    %title EducationPlatform
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{"ng-controller" => "SchoolController as school"}
    %nav.navbar.navbar-default
      .container
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to "", :class => "navbar-brand", 'ng-click' => 'changeView("/")' do
              Education Platform
              %span.badge alpha
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li{"ng-class" => "dashboard_style"}
                = link_to "", 'ng-click' => 'changeView("/"); activeWindow();' do
                  Dashboard
                  %span.sr-only (current)
              - if user_signed_in?
                %li{"ng-class" => "profile_style"}
                  = link_to current_user.first_name, '', 'ng-click' => 'changeView("/profile"); activeWindow();'
            %ul.nav.navbar-nav.navbar-right
              %li
                - if user_signed_in?
                  = link_to("Sign out", destroy_user_session_path, :method => :delete)
                - else
                  = link_to "#{I18n.t 'sign_in'}", new_user_session_path
    .container
      = yield
